<div class="card">

    <div class="card-header">

        Create User

    </div>

    <div class="card-content">

        <form [formGroup]="formGroup">

            <table>

                <tr>

                    <td>

                        <mat-form-field>

                            <input matInput
                                   appAutofocus
                                   placeholder="Email Address"
                                   formControlName="email"
                                   [(ngModel)]="user.email"
                                   class="form-control">

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-form-field>

                            <input matInput
                                   placeholder="First Name"
                                   formControlName="firstname"
                                   [(ngModel)]="user.firstname"
                                   class="form-control">

                        </mat-form-field>

                        <mat-form-field>

                            <input matInput
                                   placeholder="Last Name"
                                   formControlName="lastname"
                                   [(ngModel)]="user.lastname"
                                   class="form-control">

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-form-field>

                            <input matInput
                                   placeholder="Username"
                                   formControlName="username"
                                   [(ngModel)]="user.username"
                                   class="form-control">

                        </mat-form-field>

                        <mat-form-field>

                            <input matInput
                                   placeholder="Password"
                                   formControlName="password"
                                   [(ngModel)]="user.password"
                                   class="form-control">

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-form-field>

                            <mat-select placeholder="Account Status"
                                        formControlName="status"
                                        [(ngModel)]="user.status">

                                <mat-option *ngFor="let status of statuses" [value]="status">

                                    {{ status | uppercase }}

                                </mat-option>

                            </mat-select>

                        </mat-form-field>

                    </td>

                </tr>

            </table>

            <form-buttons buttonBackPath="/settings/users"
                          (onButtonSaveClick)="onButtonSaveClick()"
                          [buttonDeleteHide]="true"
                          buttonSaveLabel="Create User"></form-buttons>

        </form>

    </div>

</div>
