<div class="content-wrapper">

    <data-table #datatable [columns]="[{

            name:'Id'

        },{

            name: 'Organization',
            cellTemplate: organizationTemplate

        },{

            name: 'Name'

        },{

            name: 'Email'

        },{

            name:'Username'

        },{

            name:'Status'

     }]"></data-table>


    <ng-template #organizationTemplate let-column="column" let-row="row" let-value="value">

        {{ row.organization?.name }}

    </ng-template>

    <ng-template #nameTemplate let-column="column" let-row="row" let-value="value">

        {{ row.firstname }}

    </ng-template>

</div>
