@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~ngx-toastr/toastr.css";

$header-height: 50px;
$border-separator: 1.1px solid rgba(0, 0, 0, 0.12);

body {

    min-width: 750px;

    padding: 0;
    margin: 0;

    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;

}

.flex-wrapper {

    display: flex;
    flex-direction: column;

}

.header {

    @include mat-elevation(4);

    display: flex;
    flex: 0 0 $header-height;
    align-items: center;

    background: #3f51b5;
    color: #fff;

    mat-toolbar {

        min-height: auto;
        background: #3f51b5;

    }

    mat-toolbar-row {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        height: 50px;

        .toolbar-left {

            display: flex;
            flex: 0 0 200px;
            //background: pink;

        }

        .toolbar-spacer {

            flex: 1;

        }

        .toolbar-right {

            display: flex;
            justify-content: flex-end;
            align-items: center;

            flex: 0 0 300px;
            //background: blueviolet;

        }

    }

}

.footer {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100px;

    background: #868e96;

}

.content {

    position: absolute;
    top: $header-height+3px;
    left: 0;
    right: 0;
    bottom: 100px;

    display: flex;
    flex: 1;
    flex-direction: row;

}

.main-wrapper {

    overflow: auto;
    flex: 1;

}

.main {

    height: 2000px;

    padding: 20px;
    text-align: center;

}

app-sidebar-left, .sidebar-right {

    height: 100%;
    background: #fafafa;
    //@include mat-elevation(1);

}

app-sidebar-left {

}

.sidebar-right {

    display: none;

    flex: 0 0 150px;

    border-left: $border-separator;

}

a img {

    margin-right: 5px;

}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
}

.mat-form-field-label, .mat-select-value {

    color: #000 !important;

}

.mat-form-field-infix {

    border-bottom: 1px solid #999;

}

.mat-select-value {

}

form table td {

    text-align: left;

    mat-form-field:first-child {

        margin-right: 10px;

    }

}

.mat-card-header-text {

    margin: 0 !important;

}

.mat-card-title {

    font-size: 18px !important;

}

mat-card-content p {

    text-align: left;
    max-width: 600px;

}

.card {

    @include mat-elevation(1);

    .card-header {

        text-align: left;

        font-size: 16px;
        background-color: #e1e1e1;

        padding: 10px;

    }

    .card-content {

        margin: 10px;

    }
}
